.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}
.header {
  text-align: center;

  order: 1;
}

.firstblock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  order: 2;
  justify-content: center;
  text-align: center;
}

#background1 {
  background-image: linear-gradient(to bottom, orange, white);
}

#mainheading {
  font-size: 4vmax;
  color: rgb(59, 58, 58);
}

#tagline {
  font-size: 2rem;
  color: rgba(41, 40, 40, 0.63);

  text-align: center;
}

#buttonContainer {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.downloadButtons {
  font-size: 2rem;
  color: white;
  background: linear-gradient(to bottom, black, orange);
  padding: 0.6rem;
  width: 15rem;
  border-radius: 15px;
  margin-right: 1vmax;
  margin-left: 1vmax;
  margin-bottom: 1vmax;
}

.downloadButtons:hover {
  color: white;
  background: linear-gradient(to bottom, grey, orange);
}

.secondblock {
  order: 2;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.secondblock h1 {
  font-size: 1.6vmax;
}

.secondblock .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.secondblock .imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.secondblock .imgs img {
  width: 20vmax;
  margin: 0 -8vmax;
  align-items: stretch;
}

/*
#robot1 {

  height: 300px;
 position: absolute;
 left: 0;
 padding-left: 38%;
 padding-top: 120px;
}

#robot2 {
  
  height: 300px;
  position: absolute;
  left: 0;
  padding-left: 43%;
  padding-top: 120px;

}

#robot3 {
  
  height: 320px;
  position: absolute;
  left: 0;
  padding-left: 46%;
  padding-top: 120px;
}

*/
#animatedText {
  text-align: center;
  padding-bottom: 30px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.thirdblock {
  background: linear-gradient(to bottom, white, orange);
  display: flex;
  width: 100%;
  order: 3;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
  margin-top: 7rem;
}

#tagline2 {
  text-align: center;
  font-size: 2vmax;
  margin: 0 auto;
  width: 18vmax;
  text-shadow: 10px 10px 10px orange;
}

.animatedIconsGroup1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.animatedIconsGroup1 img {
  width: 12vmax;
  height: 12vmax;
}

.animatedIconsGroup2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.animatedIconsGroup2 img {
  width: 12vmax;
  height: 12vmax;
}

#matlab {
  margin-top: 3vmax;
}

#slam {
  margin-top: 3vmax;
}

#cpp {
  margin-top: -3vmax;
}

#java {
  margin-top: -3vmax;
}

.fourthblock {
  background: linear-gradient(to bottom, orange, white);
  display: flex;
  order: 4;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 9rem;
}

.fourthblock h2 {
  font-size: 1.8vmax;
  font-weight: bold;
}

.fourthblock p {
  font-size: 1.3vmax;
}

#r1 {
  width: 23vw;
  height: 40vh;
}
#r2 {
  width: 23vw;
  height: 40vh;
}
#r3 {
  width: 23vw;
  height: 40vh;
}

#robot11 {
  width: 400px;
  height: 300px;
}

#robot22 {
  width: 400px;
  height: 300px;
  margin-left: -50px;
}

#robot33 {
  height: 330px;
  z-index: 1;
  margin-top: -10px;
}

.fifthblock {
  background: white;
  display: flex;
  order: 5;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 300px;
}

.extraText {
  text-align: center;
  text-shadow: 5px 5px 5px grey;
}

#debug {
  margin-top: -250px;
  margin-left: 150px;
  max-width: 500px;
  margin-right: 100px;
  text-align: center;
}

#fluid {
  margin-top: -250px;
  margin-left: 200px;
  max-width: 500px;
  margin-right: 100px;
  text-align: center;
}
#modularity {
  margin-top: -250px;
  margin-left: 150px;
  max-width: 500px;
  margin-right: 100px;
  text-align: center;
}
